/* your code */
table{
	border: 1px solid black;
	border-radius: 8px;
	width: 600px;
	text-align: center;
}
tbody tr:nth-child(even){
	background-color: grey;
}
thead{
	background-color: lightblue;
}
